body { 
	background-image: url("http://i.imgur.com/6q7cXaP.png");
	background-size: cover;
	height: 200%;
	width: 100%;
}

button{
	height: 220px;
	width: 320px;
	margin-top: 20px;
	margin-left: 150px;
	font-size: 50px;
	background-color:#ffffff;
	font-family: Tahoma;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border: solid 1px #ffffff;
	border-radius: 50px;
	
 }
a {
	color: #80b3ff;
	text-transform: lowercase;




}
#dogs{
	margin-left: 280px;
	margin-top: 100px;

}