body { 
	background-image: url("https://forum.unity.com/proxy.php?image=http%3A%2F%2Fi.imgur.com%2F6q7cXaP.png&hash=529704672c63c69c8ad88279b43eae1a");
	background-size: cover;
	background-color: #333333;
	background-repeat: no-repeat;
	
}

button{
	height: 190px;
	width: 220px;
	margin-top: 50px;
	margin-left: 230px;
	font-size: 45px;
	background-color:#ffffff;
	font-family: Tahoma;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border: solid 1px #ffffff;
	border-radius: 50px;
	
 }
a {
	color: #80b3ff;
	text-transform: lowercase;




}
#dogs{
	margin-left: 300px;
	margin-top: 80px;


}