body{

	background-image: url("https://sumedh.files.wordpress.com/2012/10/city_day.png");
	background-size: fill;
	background-repeat: no-repeat;
	background-color: #404040;
}

button{
	height: 180px;
	width: 240px;
	margin-top: 100px;
	margin-left: 150px;
	font-size: 40px;
	background-color:#ffffff;
	font-family: Tahoma;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border: solid 1px #ffffff;
	border-radius: 50px;
	text-transform: lowercase;
 }
a {
	color:  #99c2ff;

}

#bob{
margin-top: 200px;
position: relative;
width: 300px;
height: 300px;
border-color: green;
 }


